<div class="innercontent mt-5 ms-2">
  <div class="d-flex justify-content-between ms-3 me-3">
    <div class="headingSection">
      <h3>Expire Dashboard</h3>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">
        <div class="col-lg-12" *ngFor="let item of expireTile" (mouseover)="hoverOnTiles(item.id)"
          (mouseleave)="hoverLeaveTiles(item.id)" (click)="expireAssetsReport(item.id)">
          <div class="card p-4" [ngStyle]="{'background' : item.background}">
            <div class="row">
              <div class="col-lg-2">
                <img [src]="item.image" alt="">
              </div>
              <div class="col-lg-10">
                <h3>
                  <span [ngStyle]="{'color': item.text}" class="quantity">{{item.assetCount}}</span>
                </h3>
                <label [ngStyle]="{'color': item.text}" class="heading">{{item.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card p-4" style="height: 521px;">
          <h1 class="assetsHeading">Expired Assets Report</h1>
          <div class="d-flex justify-content-center ">
            <div class="chart">
              <ngx-charts-pie-chart [view]="[226, 226]" [scheme]="{domain: ['rgb(255, 97, 84)', '#01204C']}"
                [results]="expireGraph" [legend]="false" [labels]="false" [doughnut]="true">
              </ngx-charts-pie-chart>
            </div>
            <div class="chartData">
              <ul class="Legend"
                style="display: flex;flex-direction: column;justify-content: center; padding-top: 2rem;">
                <li class="Legend-item d-flex p-3" style="gap:10px" *ngFor="let item of expireGraph">
                  <span class="Legend-colorBox" [ngStyle]="{'background': item.color}">
                  </span>
                  <span class="Legend-label" style="font-size: 14px;">
                    {{item.heading}} - {{item.value}}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
