<div class="buttonSectionEnd">
  <div class="searchSection">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput appTrimAndPreventFirstSpace [(ngModel)]="searchString" (input)="searchInput($event.target.value)">
    </mat-form-field>
  </div>
</div>

<table class="table display product-overview" id="support_table">
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th>Holiday Name</th>
      <th>Holiday Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of holidayList  | paginate : config; let i = index">
      <td>
        <mat-checkbox color="primary" (change)="selectSingle($event.checked, item.holidayId)"
          [checked]="item.isChecked">
          {{(config.currentPage -1) *config.itemsPerPage + i + 1}}
        </mat-checkbox>
      </td>
      <td>{{item.holidayName}}</td>
      <td>{{item.holidayDate | date : 'mediumDate'}}</td>
    </tr>
  </tbody>
</table>
<mat-paginator showFirstLastButtons [length]="holidayList.length" [pageSize]="config.itemsPerPage"
  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="pageChanged($event)">
</mat-paginator>

<div class="buttonSectionCenter m-3">
  <app-button [buttonClass]="'submit'" [type]="'submit'" text="Submit" (click)="addHolidayInHolidayGroup()"></app-button>
</div>
