<div class=" modal-header" style="background: #eee; padding: 14px">
  <h4 class="modal-title" id="modal-basic-title" style="color: #000">Export Excel</h4>
  <button type="button" class="close" aria-label="Close" (click)="closePopup()">
    <span aria-hidden="true" style="color: #000;font-size: 26px;">&times;</span>
  </button>
</div>
<div class="modal-body" style="height: 50vh; padding: 4%;">
  <div class="card-content">
    <div class="card-body">
      <div class="list-group">
        <h5><b>Name's</b> should contain only Alphabet</h5><br>
        <h5><b>Date's</b> should follow this format - mm/dd/yyyy</h5><br>
      </div>
      <h5 class="importInformation">
        <i class="fa-solid fa-circle-exclamation"></i>
        Excel file should be in specific format see the demo.
        <button class="SeeDemo" (click)="downloadTemplete()">See Demo</button>
      </h5>
    </div>
  </div>
</div>
<div class="modal-footer">
  <label for="importSheet" class="importButton">
    Import
    <input type="file" id="importSheet" multiple="false" class="d-none" accept=".xlsx, .xls"
      (change)="importExcel($event)">
  </label>
  <app-button [buttonClass]="'clear'" text="Close" (click)="closePopup()"></app-button>
</div>
